<!DOCTYPE html>
<html>
    <head>
        <!-- Make site responsive on mobile/tablet -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    
    <body>

<div class="container">
      <% if (error && error.length > 0) { %>
      <div class="alert alert-danger" role="alert">
           <%=error%> 
       </div>
       <% } %>
  </div>
  <div class="container">
     <% if (success && success.length > 0) { %>
      <div class="alert alert-success" role="alert">
       <%=success %> 
      </div>
      <% } %>
  </div>
  
  <div class="container">
  
  